dist:     trusty
sudo:     required

language: cpp

os:
  - linux

compiler:
  - gcc

addons:
  apt:
    update: true
    packages:
      - cmake
      - cppcheck
      - valgrind

script:
  - cmake . -DTESTING=YES
  - cppcheck include/* src/* tests/* --enable=all --check-config
  - valgrind --leak-check=full --track-origins=yes
  - make