dist:     trusty
sudo:     required

language: cpp

os:
  - linux

compiler:
  - gcc

addons:
  apt:
    update: true
    packages:
      - cmake
      - cppcheck
      - valgrind

script:
  - ctest .
  - cppcheck -q --enable=all ../src